<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hctech2006.hotellist.mapper.NlOrderMapper">
  <resultMap id="BaseResultMap" type="cn.hctech2006.hotellist.bean.NlOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_reference" jdbcType="VARCHAR" property="orderReference" />
    <result column="hotel_name" jdbcType="VARCHAR" property="hotelName" />
    <result column="target_date" jdbcType="DATE" property="targetDate" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="check_in_date" jdbcType="DATE" property="checkInDate" />
    <result column="check_out_date" jdbcType="DATE" property="checkOutDate" />
    <result column="check_in_person" jdbcType="VARCHAR" property="checkInPerson" />
    <result column="floor_price" jdbcType="DOUBLE" property="floorPrice" />
    <result column="selling_price" jdbcType="DOUBLE" property="sellingPrice" />
    <result column="gross_margin" jdbcType="DOUBLE" property="grossMargin" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="sales_manager" jdbcType="VARCHAR" property="salesManager" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="invoice_title" jdbcType="VARCHAR" property="invoiceTitle" />
    <result column="duty_paragraph" jdbcType="VARCHAR" property="dutyParagraph" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="proprietary_hotel" jdbcType="VARCHAR" property="proprietaryHotel" />
    <result column="house_type" jdbcType="VARCHAR" property="houseType" />
    <result column="numbers_room" jdbcType="INTEGER" property="numbersRoom" />
    <result column="numbers_night" jdbcType="INTEGER" property="numbersNight" />
      <result column="handler" jdbcType="VARCHAR" property="handler" />
      <result column="handler_time" jdbcType="TIMESTAMP" property="handlerTime" />
      <result column="numbers_content" jdbcType="VARCHAR" property="handlerContent" />
      <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nl_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.hctech2006.hotellist.bean.NlOrder">
    insert into nl_order (id, order_id, order_reference, 
      hotel_name, target_date, channel, 
      check_in_date, check_out_date, check_in_person, 
      floor_price, selling_price, gross_margin, 
      order_status, sales_manager, operation, 
      invoice_title, duty_paragraph, remark,
      proprietary_hotel, house_type, numbers_room,
      numbers_night, del_flag)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{orderReference,jdbcType=VARCHAR}, 
      #{hotelName,jdbcType=VARCHAR}, #{targetDate,jdbcType=DATE}, #{channel,jdbcType=VARCHAR}, 
      #{checkInDate,jdbcType=DATE}, #{checkOutDate,jdbcType=DATE}, #{checkInPerson,jdbcType=VARCHAR}, 
      #{floorPrice,jdbcType=DOUBLE}, #{sellingPrice,jdbcType=DOUBLE}, #{grossMargin,jdbcType=DOUBLE}, 
      #{orderStatus,jdbcType=VARCHAR}, #{salesManager,jdbcType=VARCHAR}, #{operation,jdbcType=VARCHAR}, 
      #{invoiceTitle,jdbcType=VARCHAR}, #{dutyParagraph,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
      #{proprietaryHotel,jdbcType=VARCHAR}, #{houseType,jdbcType=VARCHAR}, #{numbersRoom,jdbcType=INTEGER},
      #{numbersNight,jdbcType=INTEGER}, #{delFlag})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.hctech2006.hotellist.bean.NlOrder">
    update nl_order
    set order_id = #{orderId,jdbcType=VARCHAR},
      order_reference = #{orderReference,jdbcType=VARCHAR},
      hotel_name = #{hotelName,jdbcType=VARCHAR},
      target_date = #{targetDate,jdbcType=DATE},
      channel = #{channel,jdbcType=VARCHAR},
      check_in_date = #{checkInDate,jdbcType=DATE},
      check_out_date = #{checkOutDate,jdbcType=DATE},
      check_in_person = #{checkInPerson,jdbcType=VARCHAR},
      floor_price = #{floorPrice,jdbcType=DOUBLE},
      selling_price = #{sellingPrice,jdbcType=DOUBLE},
      gross_margin = #{grossMargin,jdbcType=DOUBLE},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      sales_manager = #{salesManager,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR},
      invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      duty_paragraph = #{dutyParagraph,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      proprietary_hotel = #{proprietaryHotel,jdbcType=VARCHAR},
      house_type = #{houseType,jdbcType=VARCHAR},
      numbers_room = #{numbersRoom,jdbcType=INTEGER},
      numbers_night = #{numbersNight,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, order_id, order_reference, hotel_name, target_date, channel, check_in_date, 
    check_out_date, check_in_person, floor_price, selling_price, gross_margin, order_status, 
    sales_manager, operation, invoice_title, duty_paragraph, remark, proprietary_hotel,
           house_type, numbers_room, numbers_night, handler_time, handler_content, handler, del_flag
    from nl_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_id, order_reference, hotel_name, target_date, channel, check_in_date, 
    check_out_date, check_in_person, floor_price, selling_price, gross_margin, order_status, 
    sales_manager, operation, invoice_title, duty_paragraph, remark, proprietary_hotel,
           house_type, numbers_room, numbers_night, handler_time, handler_content, handler,del_flag
    from nl_order
  </select>
  <select id="selectByOrderReference" parameterType="String" resultMap="BaseResultMap">
    select id, order_id, order_reference, hotel_name, target_date, channel, check_in_date,
           check_out_date, check_in_person, floor_price, selling_price, gross_margin, order_status,
           sales_manager, operation, invoice_title, duty_paragraph, remark, proprietary_hotel,
           house_type, numbers_room, numbers_night, handler_time, handler_content, handler, del_flag
    from nl_order
    where order_reference=#{hotelReference}
  </select>
  <select id="selectByOrderId" parameterType="String" resultMap="BaseResultMap">
    select
        id, order_id, order_reference, hotel_name, target_date, channel, check_in_date, check_out_date, check_in_person, floor_price, selling_price, gross_margin, order_status, sales_manager, operation, invoice_title, duty_paragraph, remark, proprietary_hotel, house_type, numbers_room, numbers_night
          , handler_time, handler_content, handler, del_flag
    from nl_order where order_id=#{orderId}
  </select>
  <select id="selectByKeyword"  resultMap="BaseResultMap">
    select
        id, order_id, order_reference, hotel_name, target_date, channel, check_in_date, check_out_date, check_in_person, floor_price, selling_price, gross_margin, order_status, sales_manager, operation, invoice_title, duty_paragraph, remark, proprietary_hotel, house_type, numbers_room, numbers_night
      , del_flag
    FROM nl_order where 1=1
    <if test="delFlag != null">
                        and del_flag=#{delFlag}
     </if>
    <if test="hotelName != null and hotelName != ''">
      and hotel_name like concat('%',#{hotelName},'%')
    </if>
<if test="checkInPerson != null and checkInPerson != ''">
   AND check_in_person  like concat('%',#{checkInPerson},'%')
</if>

    <if test="channel != null and channel != ''">
      and channel like concat('%',#{channel},'%')
    </if>
<if test="orderStatus != null and orderStatus != ''">
    AND order_status like concat('%',#{orderStatus},'%')
</if>
    <if test="operation != null and operation != ''">
      and operation like concat('%',#{operation},'%')
    </if>
    <if test="proprietaryHotel != null">
      and proprietary_hotel=#{proprietaryHotel}
    </if>
    <if test="dateFlag == 1 and startDate != null and endDate != null" >
        and target_date between #{startDate} and #{endDate}
    </if>
    <if test="dateFlag == 2 and startDate != null and endDate != null">
        and check_in_date between #{startDate} and #{endDate}
    </if>
    <if test="dateFlag == 3 and startDate != null and endDate != null">
        and check_out_date between #{startDate} and #{endDate}
    </if>
    <if test="dateFlag == 0 and startDate != null and endDate != null">
        and ((target_date between #{startDate} and #{endDate}) or (check_out_date between #{startDate} and #{endDate}) or (check_in_date between #{startDate} and #{endDate}))
    </if>
    <if test="newFlag == 0 ">
        and to_days(target_date) = to_days(NOW())
    </if>
    <if test="newFlag == 1 ">
        and to_days(check_in_date) = to_days(NOW())
    </if>
      <if test="newFlag == 2 ">
          and to_days(check_in_date) > to_days(NOW())
      </if>


  </select>
  <update id="updateByOrderId" parameterType="cn.hctech2006.hotellist.bean.NlOrder">
    update nl_order
    set
        <if test="orderReference != null and orderReference != ''">
          order_reference = #{orderReference,jdbcType=VARCHAR},
        </if>
        <if test="hotelName != null and hotelName != ''">
          hotel_name = #{hotelName,jdbcType=VARCHAR},
        </if>
        <if test="targetDate != null">
          target_date = #{targetDate,jdbcType=DATE},
        </if>
        <if test="channel != null and channel != ''">
          channel = #{channel},
        </if>
        <if test="checkInDate != null">
          check_in_date = #{checkInDate,jdbcType=DATE},
        </if>
        <if test="checkOutDate != null">
          check_out_date = #{checkOutDate,jdbcType=DATE},
        </if>
        <if test="checkInPerson != null and checkInPerson != ''">
          check_in_person = #{checkInPerson,jdbcType=VARCHAR},
        </if>
        <if test="floorPrice != null">
          floor_price = #{floorPrice,jdbcType=DOUBLE},
        </if>
        <if test="sellingPrice != null">
          selling_price = #{sellingPrice,jdbcType=DOUBLE},
        </if>
        <if test="grossMargin != null">
          gross_margin = #{grossMargin,jdbcType=DOUBLE},
        </if>
        <if test="orderStatus != null and orderStatus != ''">
          order_status = #{orderStatus,jdbcType=VARCHAR},
        </if>
        <if test="salesManager != null and salesManager != ''">
          sales_manager = #{salesManager,jdbcType=VARCHAR},
        </if>
        <if test="operation != null and operation != ''">
          operation = #{operation,jdbcType=VARCHAR},
        </if>
        <if test="invoiceTitle != null and invoiceTitle != ''">
          invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
        </if>
        <if test="dutyParagraph != null and dutyParagraph != ''">
          duty_paragraph = #{dutyParagraph,jdbcType=VARCHAR},
        </if>
        <if test="remark != null and remark != ''">
          remark = #{remark,jdbcType=VARCHAR},
        </if>
        <if test="proprietaryHotel != null">
          proprietary_hotel = #{proprietaryHotel,jdbcType=VARCHAR},
        </if>
        <if test="houseType != null and houseType != ''">
          house_type = #{houseType,jdbcType=VARCHAR},
        </if>
        <if test="numbersRoom != null and numbersRoom != ''">
          numbers_room = #{numbersRoom,jdbcType=INTEGER},
        </if>
        <if test="numbersNight != null and numbersNight != ''">
          numbers_night = #{numbersNight,jdbcType=INTEGER},
        </if>
      <if test="handler != null and handler != ''">
          handler=#{handler},
      </if>
      <if test="handlerTime != null">
          handler_time=#{handlerTime},
      </if>

        <if test="handlerContent != null and handlerContent != ''">
          handler_content=#{handlerContent},
      </if>

        <if test="delFlag != null">
            del_flag=#{delFlag},
      </if>

      order_id = #{orderId,jdbcType=VARCHAR}
    where order_id = #{orderId}
  </update>
    <select id="selectNewOrderCount" resultType="int">
        select count(0)from nl_order where DATE(target_date) = DATE(now())
    </select>
    <select id="selectNewCheckInCount" resultType="int">
        select count(0) from nl_order where DATE(check_in_date) = DATE(now())
    </select>
    <select id="selectTargetOrderCount" resultType="int">
        select count(0) from nl_order where DATE(check_in_date) > DATE(now())
    </select>
    <delete id="deleteByOrderId" parameterType="String">

    </delete>
</mapper>