<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hctech2006.hotellist.mapper.NlHotelMapper">
  <resultMap id="BaseResultMap" type="cn.hctech2006.hotellist.bean.NlHotel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hotel_id" jdbcType="VARCHAR" property="hotelId" />
    <result column="hotel_reference" jdbcType="VARCHAR" property="hotelReference" />
    <result column="hotel_city" jdbcType="VARCHAR" property="hotelCity" />
    <result column="hotel_address" jdbcType="VARCHAR" property="hotelAddress" />
    <result column="hotel_phone" jdbcType="VARCHAR" property="hotelPhone" />
    <result column="abut_manager" jdbcType="VARCHAR" property="abutManager" />
    <result column="abut_manager_phone" jdbcType="VARCHAR" property="abutManagerPhone" />
    <result column="sales_manager" jdbcType="VARCHAR" property="salesManager" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="hotel_status" jdbcType="VARCHAR" property="hotelStatus" />
    <result column="contract" jdbcType="VARCHAR" property="contract" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nl_hotel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hctech2006.hotellist.bean.NlHotel">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nl_hotel (id, hotel_id, hotel_reference, 
      hotel_city, hotel_address, hotel_phone, 
      abut_manager, abut_manager_phone, sales_manager, 
      operation, hotel_status, contract, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{hotelId,jdbcType=VARCHAR}, #{hotelReference,jdbcType=VARCHAR}, 
      #{hotelCity,jdbcType=VARCHAR}, #{hotelAddress,jdbcType=VARCHAR}, #{hotelPhone,jdbcType=VARCHAR}, 
      #{abutManager,jdbcType=VARCHAR}, #{abutManagerPhone,jdbcType=VARCHAR}, #{salesManager,jdbcType=VARCHAR}, 
      #{operation,jdbcType=VARCHAR}, #{hotelStatus,jdbcType=VARCHAR}, #{contract,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.hctech2006.hotellist.bean.NlHotel">
    update nl_hotel
    set hotel_id = #{hotelId,jdbcType=VARCHAR},
      hotel_reference = #{hotelReference,jdbcType=VARCHAR},
      hotel_city = #{hotelCity,jdbcType=VARCHAR},
      hotel_address = #{hotelAddress,jdbcType=VARCHAR},
      hotel_phone = #{hotelPhone,jdbcType=VARCHAR},
      abut_manager = #{abutManager,jdbcType=VARCHAR},
      abut_manager_phone = #{abutManagerPhone,jdbcType=VARCHAR},
      sales_manager = #{salesManager,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR},
      hotel_status = #{hotelStatus,jdbcType=VARCHAR},
      contract = #{contract,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, hotel_id, hotel_reference, hotel_city, hotel_address, hotel_phone, abut_manager, 
    abut_manager_phone, sales_manager, operation, hotel_status, contract, remark
    from nl_hotel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, hotel_id, hotel_reference, hotel_city, hotel_address, hotel_phone, abut_manager, 
    abut_manager_phone, sales_manager, operation, hotel_status, contract, remark
    from nl_hotel
  </select>
</mapper>